:root {
    --blue: #02254b;
    --gold: #9c8321;
    --offwhite: #F4F4F3;
}

* {
    font-family: 'Roboto', sans-serif;
    color: var(--blue);
}


h1 {
    text-align: center;
    color: var(--blue);
}

.recipe-title {
    color: var(--gold);
    font-style: italic;
}

#recipe-image img {
    display: block;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}





